@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lora", serif;
    display: flex;
    background-color: #eef3ee;
}

h1{
    font-size: 44px;
    font-weight: 900;
    color: #6f204f;
    margin-bottom: 20px;
}

.topo span{
    font-size: 20px;
    color: #6f204f;
}

.menu {
    display: flex;
    width: 200px;
    background-color: #4a1a48;
    gap: 30px;
    color: #ffffff;
    height: 100vh;
    padding: 24px 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu .icons{
    width: 20px;
}

.menu a{
    flex: 1;
    color: #d5f1e0;
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 14px;
    border-left: 3px solid transparent;
    background-color: #6f204f;
    color: #ffffff;
}

.graficos-container{
    display: flex;
    flex-direction: row;
}

#myChart-linha{
    width: 500px;
}

#myChart-coluna{
    width: 500px;
}

.conteudo{
    margin-left: 200px;
    flex: 1;
    padding: 28px 30px;
    background-color: #eef3ee;
    min-height: 100vh;
}

